
/* Stack the two content containers */
.main-trip,
.side-map { display:block; width:100%; }

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
  .main-trip { float: left; width:60%; }
  .side-map { float: left; width:40%; }
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em){
  .main-trip { width:70%; }
  .side-map { width:30%; }

  /* You can also tweak any other styles in a breakpoint */
  // H1 { color: blue; font-size:1.2em }
}

#main {
  flex-grow: 1;
  background-color: red;
}

.trip-edit-wrapper {
  position: absolute;
  top: 55px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.trip-edit-header {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-header-buttons {
  display: flex;
}
.edit-buttons {
  min-width: 70px;
}

#floating-panel {
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
}

.new-activities .btn {
  padding: 8px 10px;
  width: 100%;
}


.sortable ul {
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 0;
}

.placeholder-highlight {
  line-height: 2em;
  background-color: lightgrey;
  border: 1px dotted black;
  height: 50px;
}

.trip-days-container{
  margin: 20px;
}

.trip-day {
  width: 33%;
}

.trip_descri{
  color: white;
}

.img_preview{
  margin-top: 20px;
  margin-left: 15px;
}

.banner_trip{
  display: flex;
  width: 100%;
  justify-content: center;
}

.trip_descri{
  align-self: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
     zoom:1;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.side-brd-grey {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.icon-grey{
  color: #bfbfbf;
}

.border-bottom{
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}
