.new-activities .btn {
  padding: 8px 10px;
  width: 100%;
}

.trip-edit-wrapper {
  position: absolute;
  top: 72px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.sortable ul {
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 0;
}

.placeholder-highlight {
  line-height: 2em;
  background-color: lightgrey;
  border: 1px dotted black;
  height: 50px;
}

.trip-days-container{
  margin: 20px;
}

.trip-day {
  width: 33%;
}

.trip_descri{
  color: white;
}

.img_preview{
  margin-top: 20px;
  margin-left: 15px;
}

.banner_trip{
  display: flex;
  width: 100%;
  justify-content: center;
}

.trip_descri{
  align-self: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
     zoom:1;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.side-brd-grey {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.icon-grey{
  color: #bfbfbf;
}

.border-bottom{
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}
