<div class="trip-edit-wrapper">
  <div class="container guides-index heigth100 width100">
    <div class="row text-center heigth100">
      <div class="col-xs-12 col-md-4 scroll heigth100">
      <!-- Activities not assigned + Add new activity module -->
      </div>

      <div class="col-xs-12 col-md-8 scroll heigth100">
      <!-- Trip Days and Itiniraries -->
      </div>

      <div class="col-xs-12 col-md-4 scroll heigth100">
      <!-- Map, to do, references, etc... -->
      </div>

      </div>
    </div>
  </div>
</div>
<div class="days">

</div>
