<!-- WRAPPER -->
<div class="wrapper">
  <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background=<%= image_path('trip_background.jpg') %> >
    <div class="container">
      <!-- MODULE TITLE -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="module-title font-alt align-center">All trips</h1>
          <div class="module-subtitle font-inc align-center">
            Discover the best trips all over the world
          </div>
        </div>
      </div>
      <!-- /MODULE TITLE -->
    </div>
  </section >
  <!-- /HOME -->

  <!-- PORTFOLIO -->
  <section class="module-small p-b-0">
    <div class="container">
      <!-- PORTFOLIO FILTER -->
      <div class="row">
        <!-- MODULE TITLE -->
          <div class="col-xs-12 text-center">
            <h2 class="module-title no-margin font-alt">Browse all trips</h2>
            <div class="mini-padded"></div>
            <div class="mini-padded"></div>
          </div>
        <!-- /MODULE TITLE -->
        <div class="col-xs-12 col-md-6 text-center">
          <h5 class="no-margin font-alt">Filter by location</h5>
          <div id="locationField" class="p-t-10 p-b-10">
            <input id="trip_city" placeholder="Update search" type="text" />
            <button id="btn-index-search-update" type="button" class="btn btn-g btn-sm">Search!</button>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
          <h5 class="no-margin font-alt">Filter by category</h5>
          <ul id="filters" class="filter font-inc">
            <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
            <li><a href="#" data-filter=".discovery" class="wow fadeInUp" data-wow-delay="0.2s">Discovery</a></li>
            <li><a href="#" data-filter=".friends" class="wow fadeInUp" data-wow-delay="0.4s">Friends</a></li>
            <li><a href="#" data-filter=".cultural" class="wow fadeInUp" data-wow-delay="0.6s">Cultural</a></li>
            <li><a href="#" data-filter=".lovers" class="wow fadeInUp" data-wow-delay="0.8s">Lovers</a></li>
            <li><a href="#" data-filter=".business" class="wow fadeInUp" data-wow-delay="0.4s">Business</a></li>
            <li><a href="#" data-filter=".family" class="wow fadeInUp" data-wow-delay="0.6s">Family</a></li>
            <li><a href="#" data-filter=".bachelor" class="wow fadeInUp" data-wow-delay="0.8s">Bachelor</a></li>
          </ul>

        </div>
      </div>
      <!-- /PORTFOLIO FILTER -->


      <!-- PORTFOLIO LIST -->
      <div>
        <!-- LOOP ON ITEMS -->
        <ul id="works-grid" class="works-grid works-grid-gut works-grid-4 works-hover-w">
            <% @trips.each do |trip| %>
              <%= render 'trips/card_trip_index', trip: trip %>
            <% end %>
        </ul>
      </div>
    </div>
  </section>
  <!-- /PORTFOLIO -->


</div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {


      $( ".heart > .fa" ).click(function() {
        $( this ).toggleClass( "red-heart pink-heart" );
      });

      $('#btn-index-search-update').click(function(){
        var input = $('#trip_city').val()
        window.location.href = '/trips/search?trip%5Bcity%5D=' + input;
      });


    });
  </script>
<% end %>
