<h1>Trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>

<div class="container">
  <div class="row">
      <% @trips.each do |t| %>
        <%= render 'trip_index_cards', trip: t %>
      <% end %>
  </div>
</div>
