<div class="trip-edit-wrapper">
  <div class="container-fuid guides-index heigth100">
    <div class="row-fluid text-center heigth100">
      <div class="col-xs-12 col-sm-3 scroll heigth100">
      <!-- Activities not assigned + Add new activity module -->
        les activites non assignees
         <div class="container-fluid brd-lightgry">
          <button class="btn btn-success">Add activity</button>
          <div class="row sortable brd-grey">
            <% @activities_unasigned.each do |act| %>
              <div class="col-xs-12 brd-red" style="height: 30px">
                <div class="TMP-card-activity-edit">
                  <%= act.title %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 heigth100">
      <!-- Trip Days and Itiniraries -->
        les jours
        <div class="container-fluid brd-lightgry">
          chaque jour
          <div class="row hscroll width100 inblock brd-grey">
            <% @trip_days.each do |td| %>
              <div class="col-xs-4 inblock trip-day brd-red">
                <%= td.title %>
                <div class="row sortable brd-grey">
                  <% @activities.where(trip_day: td).each do |act| %>
                    <div class="col-xs-12 brd-red">
                      <div class="TMP-card-activity-edit">
                        <%= act.title %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2 heigth100">
      <!-- Map, to do, references, etc... -->
        la carte avec la place s'il en reste!?
      </div>

      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <script>
    $( function() {
      $( ".sortable").sortable({
          connectWith: ".sortable"
      }).disableSelection();
    } );
  </script>
<% end %>
