<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background=<%= image_path('trip_background.jpg') %> >


    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <h1 class="module-title font-alt align-center">Edit trip</h1>

          <div class="module-subtitle font-inc align-center">
            <%= @trip.title %>
          </div>

        </div>

      </div>
      <!-- /MODULE TITLE -->

    </div>

  </section >
  <!-- /HOME -->
