<div class="banner_trip" style="background:url(<%= image_path 'cities/city' + Random.rand(1..8).to_s + '.jpg' %>); height: 350px; background-repeat:no-repeat; background-size:cover">
  <div class="trip_descri text-center">
    <h1><%= @trip.title %></h1>
    <h4>By: <%= @trip.user.username %></h4>
  </div>
</div>

<div class="container_day">
  <% @trip.trip_days.each_with_index do |tripday, index| %>
  <%= render 'card_trip_show', tripday:tripday , index:index %>

  <% end %>
</div>
