/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

/* Coolors Exported Palette - coolors.co/fdd1c8-fae2cd-fcf3d3-e2eaf4-bbcad9 */

/* RGB */
$daycolor1: rgba(253, 209, 200, 1);
$daycolor2: rgba(250, 226, 205, 1);
$daycolor3: rgba(252, 243, 211, 1);
$daycolor4: rgba(226, 234, 244, 1);
$daycolor5: rgba(187, 202, 217, 1);

/* Coolors Exported Palette - coolors.co/0b3954-087e8b-bfd7ea-ff5a5f-c81d25 */

/* RGB */
// $color1: rgba(11, 57, 84, 1); // nature
// $color2: rgba(8, 126, 139, 1); // sport
// $color3: rgba(191, 215, 234, 1);
// $color4: rgba(255, 90, 95, 1);
// $color5: rgba(200, 29, 37, 1);


/* Main Categories */
$green-nature: rgba(197, 226, 209, 1);
$blue-visites: rgba(174, 208, 242, 1);
$pink-shopping: rgba(255, 211, 219, 1);
$yellow-fun: rgba(255, 246, 206, 1);
$purple-food: rgba(205, 190, 209, 1);
$gray-others: #efefef;



