<h1>Hi <%= @user.name %></h1>

<p>
  Thank you for creating your account with Yala.
  Welcome to the next generation of travel guide!
</p>

<p>What amazing things can you now do with Yala</p>
<ol>
  <li>Browse trips from all users, anywhere around the world</li>
  <li>Add only the activities you like</li>
  <li>Start your own trip</li>
</ol>

<p>DOn't hesitate to contact us for any question</p>

<p>Yala!</p>
