/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#slogan {
    text-align: center;
    font-size: $font-size-4xl;
    font-family: $header-font;
    font-weight: $font-weight-light;
    color: #fff;
}
#slogan span { color: #ff0 }
#slogan span.selected {
    background: #09f;
    color: #fff;
}

.image-screenshot {
}
