/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#slogan {
    text-align: center;
    font-size: 36px;
    color: #fff;
}
#slogan span { color: #ff0 }
#slogan span.selected {
    background: #09f;
    color: #fff;
}

.image-screenshot {
  height: 250px;
}
