<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="copyright font-inc m-b-0">© 2016 <a href="index.html">Ya-LA</a>, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
