<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="copyright font-inc m-b-0">
        <a href="mailto:hello@justyalla.app" target="_blank"><span class="icon-envelope"></span></a>
        <a href="https://www.facebook.com/yalaapp/"  target="_blank"><span class="icon-facebook"></span></a>
        | © 2016 <strong>Justyalla!</strong>, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
