<div id="map" style="width: 100%; height: 90%;"></div>
<div id="floating-panel" style="width: 100%; height: 10%;">
  <input id="autoRefresh" type=button style="display:none;" value="Hide Markers" class="btn btn-xs btn-g">
<!--   <input id="showAll" type=button value="Show All Markers" class="btn btn-xs btn-g"> -->
  <input id="refreshAll" type=button value="Refresh Markers" class="btn btn-xs btn-g">
</div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {

      // var activities = <%= raw map_hash.to_json %>;
      var activities = []

      var markers = [];
      var map;
      var stylesLight = [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}];
      var styledMap = new google.maps.StyledMapType(stylesLight, {name: "Styled Map"});
      var mapOptions = {
        zoom: 8,
        center: new google.maps.LatLng(48.8566, 2.3522),
        mapTypeControlOptions: {
          mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
        }
      };

      var bounds  = new google.maps.LatLngBounds();

      draw_map();

      function draw_map() {
        initMap();
        console.log("drop ? ")
        // drop();
        updateActivities();
        console.log("dropped !")
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        map.setOptions({styles: stylesLight});
        // map.mapTypes.set('map_style', styledMap);
        // map.setMapTypeId('map_style');
      }


      function drop() {
        clearMarkers();
        bounds  = new google.maps.LatLngBounds();
        if (typeof(activities) !== 'undefined') {
          for (var i = 0; i < activities.length; i++) {
            addMarkerWithTimeoutandLabel(activities[i], i, i * 0);
            loc = new google.maps.LatLng(activities[i].lat, activities[i].lng);
            bounds.extend(loc);
            map.fitBounds(bounds);
            map.panToBounds(bounds);
          }
        }
      }

      function addMarkerWithTimeoutandLabel(position, index, timeout) {
        window.setTimeout(function() {

          // ensure proper sizing of image
          if (position.picture == null){
            var image = { url: "http://maps.google.com/mapfiles/ms/micons/yellow.png" };
          } else {
            var image = { url: position.picture };
          }
          // create marker
          var marker = new google.maps.Marker({
            position: position,
            map: map,
            label: String(position.label),
            // animation: google.maps.Animation.DROP,
            icon: image
          });

          // if (image.url) {
          //   marker.icon = image;
          // }
          // create infowindow
          var infowindow = new google.maps.InfoWindow({
            content: position.infowindow
          });
          // add infowindow to marker
          marker.addListener('click', function(){
            // infowindow.open(map, marker);
            if(!marker.open){
                infowindow.open(map,marker);
                marker.open = true;
            }
            else{
                infowindow.close();
                marker.open = false;
            }
            google.maps.event.addListener(map, 'click', function() {
                infowindow.close();
                marker.open = false;
            });
          });




          markers.push(marker);

        }, timeout); // end of timeoue

      } // end of add marker

      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
      }

      $("#autoRefresh").on("click", function() {
        updateActivities();
      });

      $("#hideAll").on("click", function() {
        setMapOnAll(null);
      });

      $("#refreshAll").on("click", function() {
        updateActivities();
      });

      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers = [];
        markers.push(marker);
      }

      function updateActivities() {
        console.log('updating markers');
        $.ajax({
          type: "GET",
          url: "map_markers.json",
          success: function(data) {
            activities = data;
            drop();
            console.log("success");
          },
          error: function(jqXHR) {
            console.error(jqXHR.responseText);
          }
        });
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }



    });
  </script>
<% end %>

