  <!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="<%= image_path('background.jpg') %>">

    <div class="hs-caption container">
      <div class="caption-content">
       <div class="hs-title-size-4 font-alt m-b-30">
          YA-LA
          <div data-text="Organize your week-end in London"></div>
        </div>
        <div class="hs-title-size-1 font-inc">
          A wonderful serenity has taken possession of my entire soul, like these<br/> sweet mornings of spring which I enjoy with my whole heart
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->

  <!-- WRAPPER -->
  <div class="wrapper">

    <!-- PORTFOLIO -->
    <section class="module-small p-t-20 p-b-0 p-t-sm-0">

      <div class="container">

        <div class="row">

            <div class="buttons_home text-center">
              <%= link_to t("CREATE"), new_trip_path, :class => "btn btn-success" %>
              <%= link_to t("EXPLORE"), trips_path, :class => "btn btn-info" %>
            </div>

        </div>

        <!-- PORTFOLIO FILTER -->
        <div class="row">
          <div class="col-sm-12">

            <ul id="filters" class="filter font-inc">
              <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
              <li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">Illustration</a></li>
              <li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">Marketing</a></li>
              <li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">Photography</a></li>
              <li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">Web Design</a></li>
            </ul>

          </div>
        </div>
        <!-- /PORTFOLIO FILTER -->

      </div>

      <!-- PORTFOLIO LIST -->
      <ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

        <!-- PORTFOLIO ITEM -->
        <li class="work-item illustration webdesign">
          <a href="portfolio-single-1.html">
            <div class="work-image">
              <img src="assets/images/work-masonry-1.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">Corporate Identity</h3>
              <div class="work-descr font-inc">
                Illustration
              </div>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

      </ul>
      <!-- /PORTFOLIO LIST -->

    </section>
    <!-- /PORTFOLIO -->

    <!-- ABOUT -->
    <section class="module p-t-0 p-b-0" data-background="assets/images/section-4.jpg">

      <div class="container-fluid">

        <div class="row relative">

          <div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

            <h2 class="module-title font-alt">About</h2>

            <div class="module-subtitle font-inc">
              Create trips really tailor made and organize as you will
            </div>

            <p>When travelling for week ends or holidays, you want to enjoy each moment with things you really like to do, that are worth it, and you don't want to miss out on the highlights of the city you're visiting.</p>

            <p>To achieve this, you ask friends for recommandation, you buy guides, magazines, you check websites, apps, you save addresses, take notes, etc....</p>

            <p>You end up lost in too much data. On the ground, you never know what to do. Once back, you realize you forgot tons of things</p>

            <p>THOSE DAYS ARE OVER! Yala lets you aggregate ideas from all the sources, sort them by trip, by category, and organize in the most convenient way your trip so that you never forget anything</p>

            <ul class="social-list">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-googleplus"></span></a></li>
            </ul>

          </div>

        </div>

      </div>

    </section>
    <!-- /ABOUT -->

    <!-- TESTIMONIAL -->
    <section class="module-small">

      <div class="container">

        <div class="row">

          <!-- MODULE TITLE -->
          <div class="col-sm-6">
            <h2 class="module-title font-alt">Someone quote</h2>
          </div>
          <!-- /MODULE TITLE -->


          <!-- BLOCKQUOTE -->
          <div class="col-sm-6">
            <blockquote class="font-serif align-right">
              <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
              <p class="font-inc font-uppercase">- Thomas Anderson</p>
            </blockquote>
          </div>
          <!-- /BLOCKQUOTE -->

        </div>

      </div>

    </section>
    <!-- /TESTIMONIAL -->


    <!-- CONTACT -->
    <section class="module-small">

      <div class="container">

        <div class="row">

          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-map-pin"></span>
              </div>
              <div class="content-box-title font-inc">
                Lille
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-phone"></span>
              </div>
              <div class="content-box-title font-inc">
                +33 3 20 00 00 00
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-icon">
                <span class="icon-envelope"></span>
              </div>
              <div class="content-box-title font-inc">
                something@gmail.com
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

        </div>

      </div>

    </section>
    <!-- /CONTACT -->
  </div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {

      (function($){

          $.fn.typer = function(options){

              var defaults = $.extend({
                  search: '',
                  replace: [],
                  speed: 70,
                  delay: 5000
              }, options);

              var bintext = function(length){
                  var text = '';
                  for(var $i = 0; $i<=length;$i++) {
                      text = text + Math.floor(Math.random() * 2)
                  }
                  return text;
              };

              this.each(function(){

                  var $this = $(this);
                  var $text = $this.data('text');
                  var position = 0;

                  var indexOf = $text.indexOf( defaults.search );
                  var normal = $text.substr(0, indexOf);
                  var changer = $text.substr(indexOf, $text.length);

                  defaults.replace.push(changer);

                  var interval = setInterval(function(){
                      var $bintext = '';

                      if( position == indexOf ) {

                          $bintext = bintext(changer.length-1);

                          $this.html( $text.substr(0, normal.length) );
                          $this.append('<span>' + $bintext + '</span>')

                      } else if( position > indexOf ) {


                          $bintext = bintext($text.length-1);

                          $this.delay(defaults.speed).find('span').html(
                              changer.substring(0, position - indexOf) +
                              $bintext.substring(position, ($bintext.length))
                          );

                      } else if( position < indexOf ) {

                          $bintext = bintext($text.length-1);

                          $this.delay(defaults.speed).html(
                              normal.substring(0, position) +
                              $bintext.substring(position, ($bintext.length))
                          );

                      }

                      if( position < $text.length ) {
                          position++;
                      } else {
                          clearInterval(interval);

                          var index = 0;
                          setInterval(function(){

                              var position = 0;
                              var newText = defaults.replace[index];

                              var changeInterval = setInterval(function(){

                                  var $bintext = '';
                                  for(var $i = 0; $i<=newText.length-1;$i++) {
                                      $bintext = $bintext + Math.floor(Math.random() * 2)
                                  }

                                  $this.delay(defaults.speed).find('span').html(
                                      newText.substring(0, position) +
                                      $bintext.substring(position, ($bintext.length))
                                  );

                                  if( position < $text.length ) {
                                      position++;
                                  } else {
                                      clearInterval(changeInterval);
                                  }

                              }, defaults.speed);

                              if( index < defaults.replace.length-1 ) {
                                  index++;
                              } else {
                                  index = 0;
                              }
                          }, defaults.delay)


                      }
                  }, defaults.speed)

              });

          }



      })(jQuery)

      $(function(){
        $('#slogan').typer({
          search: 'week-end in London',
          replace: ['lover getaway in Paris', 'bachelor party in Berlin', 'shopping in Milan', 'birthday in Amsterdam']
        })
      })

    });
  </script>
<% end %>
