  <div class="trip_descri text-center">
    <h1><%= @trip.title %></h1>
    <h4>By: <%= @trip.user.username %></h4>
  </div>


<!-- DESCRIPTION OF TRIP -->
        <p>"<%= @trip.description %>"</p>
<!-- /DESCRIPTION -->

<!-- TRIP DAY BY DAY -->



    <!-- TRIP DAY SHOW -->
      <!-- render 'trips/card_trip_day_show', tripday:tripday , index:index -->
      <!-- http://bootsnipp.com/tags/timeline -->
