/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Div sizings
.heigth100 {
  height: 100%;
}

.width100 {
  width: 100%;
}

.vscroll{
  overflow-y: auto;
}

.hscroll{
  overflow-x: auto;
  white-space: nowrap;
}
.inblock{
  display: inline-block;
  float: none;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Bordered
.brd-lightgry {
  border: 1px solid lightgrey;
}
.brd-grey {
  border: 1px solid grey;
}
.brd-red {
  border: 1px solid red;
}
