/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Div sizings
.heigth100 {
  height: 100%;
}

.width100 {
  width: 100%;
}

.overflow-h{
  overflow: hidden;
}

.scroll{
  overflow: scroll;
}

.hscroll{
  overflow-x: auto;
}
.inblock{
  display: inline-block;
}

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.mini-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Bordered
.brd-lightgry {
  border: 1px solid lightgrey;
}
.brd-grey {
  border: 1px solid grey;
}
.brd-red {
  border: 1px solid red;
}

.panel{
  margin-top: 50px;
}
