/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


.imprim{
  display: flex;
  justify-content: center;
}

.padded-icon{
  margin-right: 20px;
}


// Div sizings
.heigth100 {
  height: 100%;
}

.heigth90 {
  height: 90%;
}

.heigth80 {
  height: 90%;
}

.width100 {
  width: 100%;
}

.overflow-h{
  overflow: hidden;
}

.vscroll{
  overflow-y: auto;
  overflow-x: hidden;
}

.hscroll{
  overflow-x: auto;
}
.inblock{
  display: inline-block;
}

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.mini-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

.mini-h-padding {
  padding: 0 5px;
}

.no-padding {
  padding: 0 !important;
}

.no-h-padding {
  padding: 8px 0 !important;
}

// Margins
.no-margin {
  margin: 0;
}

.margined {
  margin: 1em 0;
}

// Texte
.left-aligh {
  text-align: left;
}
.text-white {
  color: white;
}

.sm-txt {
  font-size: 0.8em;
}

// Backgrounds

.background-grey{
  background-color: #FAFCFC;
}

.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.bg-day1 { background: $daycolor1; }
.bg-day2 { background: $daycolor2; }
.bg-day3 { background: $daycolor3; }
.bg-day4 { background: $daycolor4; }
.bg-day5 { background: $daycolor5; }
.bg-day6 { background: $daycolor1; }
.bg-day7 { background: $daycolor2; }
.bg-day8 { background: $daycolor3; }
.bg-day9 { background: $daycolor4; }
.bg-day10 { background: $daycolor5; }

// Main Categories
.bg-fun { background: $color-fun; }
.bg-nature { background: $color-nature; }
.bg-shopping { background: $color-shopping; }
.bg-food { background: $color-food; }
.bg-visites { background: $color-visites; }
.bg-others { background: $color-others; }

// Bordered
.brd-lightgry {
  border: 1px solid lightgrey;
  border-radius: 5%;
}
.brd-grey {
  border: 1px solid grey;
}
.brd-red {
  border: 1px solid red;
}

.panel{
  margin-top: 50px;
}
