.card_activity_index {
  height: 80px;
  width: 120px;
  border: 1px solid black;
  position: relative;
}

.card_activity_trip {
  margin: 5px 0;
  padding: 6px;
  font-size: 1.2em;
}

.card_activity_trip-header {
  background-color: lightgrey;
}

.card_activity_trip-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }

// .card_activity_link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index:2;
//   background: black;
//   opacity: 0;
// }
