@import "../config/variables";

// TODO: Move to override_theme.scss
.works-grid {
  overflow: hidden;
}

.work-caption {
  z-index: -100;
}

.works-grid.works-hover-w .work-item:hover .card-trip-img:after {
  background: rgba(255, 255, 255, .8);
}

.post-meta.font-inc{
  position: relative;
  top: 100px;
  color: white;
  a{
    color:white;
  }
}
// move

.card-trip {
  position: relative;
}
.card-trip-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-trip-img{
  //width: 400px;
  position: relative;
  margin-bottom: 30px;
  //margin-bottom: 20px;
}

.card-trip-background{
  margin-bottom: 30px;
}

.card-trip-img:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.card-trip-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-trip-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: $font-size-xs;
  text-transform: uppercase;
  font-family: $header-font;
  font-weight: $font-weight-medium;
}
.card-trip-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-trip-description h2 {
  font-size: $font-size-xl;
}

.card-trip-description p {
  font-size: $font-size-sm;
}

.card-trip-link:hover{
  opacity: 0.1;
}

.card-trip-city {
  position: absolute;
  top: 0;
  left: 10px;
  color: black;
}

.red-heart {
  color: red;
}

.heart {
  position: absolute;
  top: 10px;
  right: 25px;
}

.pink-heart {
  color: #efcbcb;
}

.post-more{
  position: absolute;
  bottom: 3px;
}

.card-content{
  position: relative;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.52);;
}

p.title-city{
  position: relative;
  top: 13px;
  left: 10px;
  color: white;
}
h3.font-alt{
  color: white;
  position: relative;
  top: 73px;
}

h3.post-title.font-alt{
  font-size: $font-size-lg;
}

