.works-grid {
  overflow: hidden;
}

.work-caption {
  z-index: -100;
}

.work-item {
  a {
    background-color: white;
  }
}

.card-trip {
  position: relative;
}
.card-trip-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-trip-img{
  //width: 400px;
  position: relative;
  margin-bottom: 30px;
  //margin-bottom: 20px;
}

.card-trip-img:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.works-grid.works-hover-w .work-item:hover .card-trip-img:after {
  background: rgba(255, 255, 255, .8);
}

.card-trip-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-trip-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-trip-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-trip-description h2 {
  font-size: 24px;
}
.card-trip-description p {
  font-size: 13px;
  }

.card-trip-link:hover{
  opacity: 0.1;
}

.red-heart {
  color: red;
}

.heart {
  position: absolute;
  top: 10px;
  right: 25px;
}

.pink-heart {
  color: #efcbcb;
}

.post-more{
  position: absolute;
  bottom: 3px;
}
