@import "../config/variables";

.card_activity_index {
  height: 80px;
  border: 1px solid black;
  position: relative;
  margin: 10px 0;
}
.activity-logo-cat {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.activity-item-header {
  background: transparent;
}

.activity-logo {
  height: 20px;
  width: 20px;
  position:absolute;
  bottom: 5px;
  right: 5px;
}

.activity-item {
  margin: 5px 2px;
  padding: 0;
  font-size: $font-size-base;
  border-radius: 3px;
  // min-height: 40px;
}


.activity-item-content {
  background: transparent;
}

.activity-edit {
  position:absolute;
  bottom: 5px;
  left: 5px;
}
