@import "config/variables";

/* -------------------------------------
 * Basic CSS for the site
 * ------------------------------------- */

html {
  height: 100% !important;
  width: 100%  !important;
  font-size: $base-size;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $base-font;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $base-height;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#content {
  width: 100%; height: 100%;
}

/* -------------------------------------
 * Typography Base Styles
 * ------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: $font-weight-medium;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #222;
}

h1 { font-size: $h1-size; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }
h6 { font-size: $h6-size; }

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 10%);
  }
}

small, .text-small {
  font-size: $font-size-sm;
}

strong, .text-bold {
  font-weight: $font-weight-bold;
}

.text-muted {
  color: #6b7280;
}

// Typography utility classes
.font-heading {
  font-family: $header-font;
}

.font-body {
  font-family: $base-font;
}
