.form-control {
  text-transform: none;
}

.navbar-transparent{
  padding-bottom: 10px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.52);
.navbar-link{
  color: white;
}

.btn.btn-g {
  background: transparent;
  border: 1px solid #b2b2b2;
  color: white;
}
}

.btn.btn-round{
  border-radius: 7px;
}

.navbar-custom.navbar-custom-black {
  .nav li > a {
    background: black;
    color: white;
  }

  background: black;
  color: white;
  .navbar-brand{
    color: white;
  }
}

.navbar{
  margin-bottom: -22px;
  font-size: 18px;
}

button.navbar-toggle {
  background-color: white;
}



.up_photo{
  margin: 0 auto;
  padding-top: 18px;
}

.back a{
  padding-left: 15px;
}

a.dropdown-toggle{
  margin-right: 20px;
}

.navbar-header{
  margin-left: 20px;
}


.navbar{
  padding: 0px;
}

.col-bg {
  background: rgba(255, 255, 255,0.97);
  font-size: 13px;
}

.background-grey{
  background-color: #FAFCFC;
}


