.navbar-transparent{
  padding-bottom: 10px;
  padding-top: 10px;
.navbar-link{
  color: white;
}

.btn.btn-g {
  background: transparent;
  border: 1px solid #b2b2b2;
  color: white;
}
}

.btn.btn-round{
  border-radius: 7px;
}

.navbar-custom.navbar-custom-black {
  .nav li > a {
    background: black;
    color: white;
  }

  background: black;
  color: white;
  .navbar-brand{
    color: white;
  }
}

.navbar{
  margin-bottom: -22px;
}

button.navbar-toggle {
  background-color: white;
}


.up_photo{
  margin: 0 auto;
  padding-top: 18px;
}

.back a{
  padding-left: 15px;
}
