.form-control {
  text-transform: none;
}

.content-box-title {
  font-size: $font-size-base;
  margin-left: 10px;
}

/* line 722, /home/victor/code/vctrdlnn/rails-yalla/vendor/assets/stylesheets/style.css */
.module-small {
  padding: 40px 0;
}

.module-thin {
  padding: 100px 0 30px;
}


.btn.btn-round{
  border-radius: 7px;
}

@media (min-width: 768px) {
  .navbar-transparent{
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.52);
    .navbar-link{
      color: white;
    }
    .btn.btn-g {
      background: transparent;
      border: 1px solid #b2b2b2;
      color: white;
    }
  }
}

.navbar-custom.navbar-custom-black {
  .nav li > a {
    background: black;
    color: white;
  }

  background: black;
  color: white;
  .navbar-brand{
    color: white;
  }
}

.navbar{
  margin-bottom: -22px;
  font-size: $font-size-lg;
  padding: 0px;
}

button.navbar-toggle {
  background-color: white;
}

.up_photo{
  margin: 0 auto;
  padding-top: 18px;
}

.back a{
  padding-left: 15px;
}

a.dropdown-toggle{
  margin-right: 20px;
}

.navbar-header{
  margin-left: 20px;
}

.col-bg {
  background: rgba(255, 255, 255,0.97);
  font-size: $font-size-sm;
}
