// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datetimepicker";

// // Your CSS
@import "body";
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "models/index";
//@import "simpletextrotator";
//@import "et-line-font";
//@import "magnific-popup";
//@import "flexslider";
//@import "animate";
@import "style";
@import "custom";
@import "override_theme";
//@import "notifIt";


.timeline-panel,
.timeline-inverted { page-break-inside: avoid; }

.pagebreak { page-break-before: always; }
