  <div class="card_activity_index">
      <%= link_to edit_activity_path(activity) do %>
        <p><%= activity.title.downcase.capitalize %></p>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
  </div>
