<div class="card_activity_index">
  <%= link_to "", activity_path(@activity), {class: "card_activity_link"} %>
</div>



<!--    t.string   "title"

    t.string   "description"
    t.string   "category"
    t.string   "establishment"
    t.string   "city"
    t.string   "address"

    t.integer  "index"
    t.integer  "trip_id" -->
