<!-- Modal -->
<div id="modal_category" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add your activity!</h4>
      </div>
      <div class="modal-body">
        <% if defined?(trip) %>
          <%= render 'activities/form_new_category_from_trip', activity: activity, trip: trip, main_categories: main_categories %>
        <% else %>
          <%= render 'activities/form_new_category', activity: activity, main_categories: main_categories  %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% content_for (:js) do %>
  <script>
    $('.card-category').on('click', function(event) {
      $('#activity_main_category_id').val(this.id.split("-").pop());
    });
  </script>
<% end %>
