<!-- Modal -->
<div id="myModale" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add your activity!</h4>
      </div>
      <div class="modal-body">
        <% if defined?(trip) %>
          <%= render 'activities/form_new_establishment_from_trip', activity: activity, trip: trip %>
        <% else %>
          <%= render 'activities/form_new_establishment', activity: activity %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
