<!-- Modal -->
<div id="modal_establishment" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter a place to create activities!</h4>
      </div>
      <div class="modal-body">
        <% if defined?(trip) %>
          <%= render 'activities/form_new_establishment_from_trip', activity: activity, trip: trip %>
        <% else %>
          <%= render 'activities/form_new_establishment', activity: activity %>
        <% end %>
      </div>
    </div>
  </div>
</div>
