<div id="map-activities">
  qqch
  <%= render 'shared/maps', map_hash: @hash %>
</div>

<div class="padded"></div>
<div class="container text-center">
<%= link_to 'Add Activity', activities_new_act_path, class: 'btn btn-g' %>
<%= link_to 'Add Establishment', new_activity_path, class: 'btn btn-g' %>
<div class="mini-padded"></div>
  <div class="row">
    <% @activities.each do |activity| %>
      <%= render 'card_activity_index', activity: activity %>
    <% end %>
  </div>
</div>
<div class="padded"></div>



<% content_for(:js) do %>
  <script>
    $(document).ready(function() {



    });

  </script>
<% end %>

