<div id="map" style="width: 100%; height: 300px;"></div>

<div class="container">
  <div class="row">
    <% @activities.each do |activity| %>
      <%= render 'card_activity_index', activity: activity %>
    <% end %>
  </div>
</div>

<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
      // var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      // var labelIndex = 0;
      var handler = Gmaps.build('Google');
      //added resetBounds
      handler.resetBounds();
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>, {
          draggable: true,
          animation: google.maps.Animation.DROP,
          // label: labels[labelIndex++ % labels.length]

        });
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>

