<div id="map-activities">
  qqch
  <%= render 'shared/maps', map_hash: @hash %>
</div>

<div class="padded"></div>
<div class="container text-center">
<%= render 'form_new_activity_by_category', activity: @activity, main_categories: @main_categories %>
<%= render 'form_new_activity_by_establishment', activity: @activity %>
<div class="mini-padded"></div>
  <div class="row">
    <% @activities.each do |activity| %>
      <%= render 'card_activity_index', activity: activity %>
    <% end %>
  </div>
</div>
<div class="padded"></div>



<% content_for(:js) do %>
  <script>
    $(document).ready(function() {



    });

  </script>
<% end %>

